@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import '_normalize';
@import '_mixins';
@import '_vars';
*{
	box-sizing: border-box;
}
body{
	background-color: #fff;
	font: 300 17px/1.6 Raleway, sans-serif;
	color: $primery-color;
}

.header{
	position: absolute;
	top:50px; left:0; right:0;
	z-index: 1;
}
.container{
	min-width: 1024px;
	max-width: 1170px;
	width: 96%;
	margin: 0 auto;
	.logo {
		vertical-align: middle;
	    display: inline-block;
	    transition: opacity .25s ease;
	    svg{
	        width: 160px;
		}
		&:hover,
		&:focus,
		&:active{
			 opacity: .7;
		}

	nav {
		display: inline-block;
		width: calc(100% - 205px)
	     
   }
	.menu{
		position: absolute;
		bottom: 0;
		left:0;
		right: 0;
		margin: 0;
		padding: 0;
		text-align: right;
		&__item{
			display: inline-block;
			vertical-align: middle;
			& a{
				text-decoration: none;
				text-transform: uppercase;
				color: $primery-color;
				font-size: 16px;
				line-height: 1.5;
				font-weight: 700;
				padding-top: 10px;
				transition: all .25s ease;
				&:hover,
				&:focus,
				&:active{
					border-top: 2px solid $blue;
				}
			}
		}
		&__item:not(:first-of-type){
			margin-left: 5px;
		}
		}
	}
}
.section{
	position: relative;
	&--heading{
	background: url('../img/header.jpg') no-repeat 0 0;
	background-size: cover;
	min-height: 100vh;
	position: relative;
		& .container{
		text-align: center;
		height: 100%;	
		}
	}

.footer{
	background: 232323;
	color: $secondary-color;
	height: 90px;
	padding: 35px 0;

	&__info{
		display: flex;
		justify-content: space-between;
		font-size: 15px;
		}
	&__center{
		text-align: center;
		max-width: 25%;
		max-height: 20px;
		overflow: hidden;
		}
	
		a{
			color: $secondary-color;
			text-decoration: none;
			transition: opacity .25s ease;
			&:hover,
			&:focus,
			&:active{
				opacity: .7;
			}
	}
